{% extends 'base.html' %}


<html>
<head>
    <title>Add Note</title>
</head>
{% block content %}
<body>
<h1>Add Note for {{ student }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.behavior.label_tag }}
    {{ form.behavior }}
    <br>
    {{ form.date.label_tag }}
    {{ form.date }}
    <br>
    {{ form.notes.label_tag }}
    {{ form.notes }}
    <br>
    <button type="submit">Add Note</button>
</form>

<a href="{% url 'behavior_app:student-detail' pk=student.pk %}">Cancel</a>
</body>
{% endblock  %}
</html>
